#siteheading {color: brown;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#mathprompt {color: indigo;
    font-size: large;
}

#inputrow {
    color: blueviolet;
    background-color: darkblue;
}

body {
    background-color: darkslategrey;
}